body{
  font-family: 'Bitter', serif;
}
.fondo-imagen{
  background:linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url("../ima/fondo-concierto.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.fondo-solido,#vertical.is-drilldown-submenu{
  background: #2c375f!important;
}
.off-canvas-content{
  background: transparent!important;
}
#container-separador{
  background: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url("../ima/ondas.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.callout{
  margin-bottom:0;
  border: 0;
}

.titular{
  font-family: 'Ruslan Display', cursive;
  font-size: 4em;
  color: white;
}
.t1{
  font-size: 4em;
}
.t2{
  font-size: 1.8em;
}
.t3{
  font-size: 1.5em;
}
.t4{
  font-size: .8em;
}

#container-social{
  background: #005d76;
  padding: 5px;
}
#container-social a, #container-social a:visited, #container-social a:hover,#container-social a:link{
  color: white;
  font-size: 20px;
}
#container-titulo .callout .titular{
  text-shadow: 3px 3px 1em gray;
  animation-name: colores;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-timing-function: ease-out;
}
#container-titulo .callout{
  //background: #113b61;
  background: transparent;
  border: 0;
  margin-bottom: 0;
}
#container-menu{
  background: #003846;
  padding:.8em 0;
}
#container-menu a{
  color: white;
}
#container-menu a:hover,
#container-submenu li a:hover{
  color: #90b7da;
}
#container-submenu{
  background: #003846;
  color: white;
  border:  0;
}
#container-submenu li{
  list-style: none;
  padding: 4px;
}
#tickets-action .callout{
  //background: #113b61;
  background: transparent;
}
#tickets-action .callout button {
  //color: white;
  //border-color: white;
}
#container-lineUp{
  //background: #2892ed;
  background: rgba(40, 146, 237, 0.5);
  padding: 10px 0;
}
#container-lineUp h3{
  color: white;
  margin-bottom: .5em;
}
.raya{
  position: relative;
}
.raya:after{
  position:  absolute;
  content: " ";
  bottom: 0;
  border-bottom: 2px solid white;
  width: 80%;
  left: 10%;
}
#lineup-tabs{
  background: transparent;
  border: 0;
}
.tabs-title{
  display:  inline-block;
  float: none;
}
.tabs-title a:hover{
  background: transparent;
  color: white;
}
.tabs-content{
  background: transparent;
  border: 0;
}
.tabs-title.is-active a{
  background: #acd4f7;
  color: black;
}
.tabs-title a{
  //color: #113b61;
  color: white;
  font-size: 20px;
}
#container-lineUp .orbit-container{
  margin-bottom: 1em;
}
#container-lineUp .column:nth-child(odd) figcaption{
  text-align: right;
}
.orbit-caption,.container-horarios{
      background-color:rgba(18, 79, 132, 0.58);;
}
.orbit-slide{
  position: relative;
}
.container-horarios{
  position: absolute;
  top: 10px;
  color: white;

}
.container-horarios i{
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}
.container-horarios span{
  font-size: 25px;
}
@keyframes colores {
    0%   {color: #a9f126;}
    25%  {color: #2690f1;}
    50%  {color: #f19026;}
    100% {color: #26f1d8;}
}
#container-tickets{
  background: #2892ed;
  padding:  1em 0;
}
.pricing-table{
  border:  0;
  background: white;
  border-radius: 20px;
}
.pricing-table .description{
  color: #134e22;
  font-size: 1em;
}
.pricing-table li{
  font-size: 1em;
}
.pricing-table .title{
  font-size: 2em;
  background: #2e4988;
  border-radius: 20px 20px 0 0;
}
.pricing-table .price{
  background: #e0e6f5;
}
#container-mapa .titular{
  padding: 10px 0;
}
.mapa-info iframe{
  width: 100%;
}
#container-suscribete .titular{
  padding-bottom:  0;
  margin-bottom: 5px;

}
#container-suscribete{
  background: #691992;
  padding: 20px 0;
}
#container-error i{
  padding:  8px;
}
.is-invalid-input:not(:focus) {
    background-color: rgba(206, 92, 95, 0.58);
    border-color: #d43f3f;
  }
#data-sticky{
  margin-top: 0!important;
  width:  100%;
  z-index: 100;
}
.off-canvas-wrapper-inner #offCanvas{
  background: #2c375f;
  height: 100vh;
}
@media (max-width:639px) {
  #container-lineUp  figcaption{
    text-align: center!important;
  }
}
