body{
  background:linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url("../ima/fondo-concierto.jpg");
  background-size: cover;
  font-family: 'Bitter', serif;
}
.callout{
  margin-bottom: 0;
}
.titular{
  font-family: 'Ruslan Display', cursive;
}
.t1{
  font-size: 2em;
}
.t2{
  font-size: 1.8em;
}
.t3{
  font-size: 1.5em;
}
.t4{
  font-size: .8em;
}

#container-social{
  background: #005d76;
  padding: 5px;
}
#container-social a, #container-social a:visited, #container-social a:hover,#container-social a:link{
  color: white;
  font-size: 20px;
}
#container-titulo .callout{
  //background: #113b61;
  background: transparent;
  text-shadow: 3px 3px 1em gray;
  animation-name: colores;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  border: 0;
  margin-bottom: 0;
}
#container-menu{
  background: #003846;
}
#container-menu a{
  color: white;
}
#container-menu a:hover,
#container-submenu li a:hover{
  color: #90b7da;
}
#container-submenu{
  background: #003846;
  color: white;
  border:  0;
}
#container-submenu li{
  list-style: none;
  padding: 4px;
}
#tickets-action .callout{
  background: #113b61;
}
#tickets-action .callout button {
  color: white;
  border-color: white;
}
#container-lineUp{
  background: #2892ed;
  padding: 10px 0;
}
#lineup-tabs{
  background: transparent;
  border: 0;
}
.tabs-title{
  display:  inline-block;
  float: none;
}
.tabs-title a:hover{
  background: transparent;
  color: white;
}
.tabs-content{
  background: transparent;
  border: 0;
}
.tabs-title.is-active a{
  background: #acd4f7;
}
.tabs-title a{
  color: #113b61;
  font-size: 20px;
}

@keyframes colores {
    0%   {color: #a9f126;}
    25%  {color: #2690f1;}
    50%  {color: #f19026;}
    100% {color: #26f1d8;}
}
